GO_VERSION=1.23.4

ENV=development
ALLOWED_ORIGIN=http://localhost:3000,http://localhost:3001

RECAPTCHA_SECRET=xxxxx
TURNSTILE_SECRET=xxxxx
RESEND_API_KEY=xxxxx
CONTACT_FROM=from@example.org
CONTACT_TO=to@example.org

# Docker image
IMAGE_NAME=registry.gitlab.com/xxxxx
IMAGE_TAGS=latest,20001231.0
